.articles {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  gap: 3rem;
  width: 80vw;
}

.articles > h1 {
  text-align: center;
  font-size: 4rem;
}

.articles .blogContainer {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  gap: 3rem;
}

.articles .blogContainer .articleContainer {
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.articles .blogContainer .articleContainer a img {
  width: 100%;
}

.articles .blogContainer .articleContainer a h1 {
  font-size: 2rem;
  padding: 1rem;
}

.articles .blogContainer .articleContainer:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 600px) {
  .articles .blogContainer {
    width: 90vw;
  }
}

@media (min-width: 700px) {
  .articles .blogContainer {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1200px) {
  .articles .blogContainer {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
}
