.article-container{
    display: grid;
    place-items: center;
    gap: 3rem;
    margin: 0;
    max-width: 1000px;
    overflow-wrap: break-word;
    padding: 2rem;
    .headline{
        font-size: 3rem;
        text-align: center;
        font-weight: 500;
    }
    .sub-headline{
        font-size: 2.5rem;
        text-align: center;
        font-weight: 500;
    }
    .date{
        font-size: 1.5rem;
    }
    .paragraph{
        font-size: 1.5rem;
        text-align: justify;
    }

    @media(max-width: 600px){
        .paragraph{
            font-size: 1.3rem;
        }
        .headline{
            font-size: 2rem;
        }
        .date{
            font-size: 1.3rem;
        }
        .sub-headline{
            font-size: 2rem;
        }
    }

    .image{
        display: grid;
        place-items: center;
        img{
            width: 100%;
            // max-width: 500px;
        }

        // @media(min-width: 700px){
        //     img{
        //         width: 1000px;
        //     }
        // }
    }
}