footer{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 2rem 0 2rem 0;
    color: white;
    background-color: rgb(48, 48, 48);
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;

    strong{
        // color: cyan;
        font-weight: 500;
    }

    .footerElements{
        #author{
        }
        #last-update{
        }
        #contactEmail{
        }
        #donateBTC{
            strong{
                // color: gold;
            }
        }
        
    }

    @media(max-width: 600px){
        font-size: 1rem;
    }
}