.headerApp{
    display: grid;
    grid-auto-flow: row;
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
    justify-items: center;    
    align-items: center;
    gap: 1rem;
    background-color: rgb(65, 65, 65);
    width: 100%;
    text-align: center;
    box-sizing: border-box;


    @media(min-width: 700px){
        grid-auto-flow: column;
        align-content: space-between;;
    }

    .headerImage{
        a{
            img{
                width: 100px;
                border-radius: 50%;
                transition: 0.3s;
                border: 2px solid transparent;
                box-shadow: 1px 1px 3px black;
                
                &:hover{
                    transform: rotate(1turn);
                    // transform: scale(1.1);
                    // transform: scale(1.1);
                    border: 2px solid white;
                }
            }
        }
    }
    .headerText{
        display: grid;
        gap: 2rem;

        a{
            border-bottom: 5px solid transparent;
            transition: 0.3s;
            color: white;
            &:hover{
                border-bottom: 5px solid rgb(255, 255, 255);
                transform: scale(1.1);
            }
        }


        @media(min-width: 700px){
            grid-auto-flow: column;
        }
    }

}